.card {

    align-items: center;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.219);
    transition: .3s linear;
    border-radius: 10px;
}
/* .card:hover {
    border: 2px solid #a31d05;
} */
.rating {
    margin: 10px auto;
    width: auto;
    text-align: center;
    color: #a31d05;
}
.buttons button{
    padding: 10px 16px;
    background-color: #a31d05;
    color: white;
    transition: .3s linear;
    border: 2px solid transparent;
    width: 50%;

    &:hover {
        background-color:transparent;
        color: #a31d05;
        border-color: #a31d05;
    }
}
.buttons button:nth-child(2) {
    background-color: transparent;
    border: 2px solid #a31d05;
    color: black;
    padding: 8px 16px;
    opacity: .9;
    transition: .3s linear;
    width: 70%;

    &:hover {
        opacity: 1;
        background-color: #a31d05;
        border: transparent 2px solid;
        color: white;
    }
}
.last-btn {
    transition: .3s linear;
    letter-spacing: 1px;

}
.last-btn:hover {
    letter-spacing: 2px;
    opacity: .9;
}

@media (max-width:937px) {
    .buttons button {
        padding: 10px 5px;
    }
}
@media (max-width:890px) {
    .buttons button {
        padding: 10px 16px;
    }
}

@media (max-width:937px) {
    .buttons button {
        padding: 10px 5px;
    }
}

.icon {
    position: absolute;
    top: 10%;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.192);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: -20%;
    cursor: pointer;
    transition: .3s linear;

    >* {
        font-size: 18px;
        color: white;
    }
}


.card:hover .icon{
    left: 5%;
}
.second {
    right: -20%;
    position: absolute;
    top: 10%;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.192);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s linear;

    >* {
        font-size: 18px;
        color: white;
    }
}
.card:hover .second {
    right: 5%;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    transition: .5s;
}
.card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.219);
}